*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Anton", sans-serif
}
    

.cabecalho{
    background-color: #00b89f;
    color: rgb(2, 1, 1);
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;

}

.cabecalho-imagem {
    width: 20%;
}
 .cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
 }

 .escola-imagem{
    width: 25%;
 }
 .escola{
    background-image: linear-gradient(#00b89f,orange);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
   
 }
 .escola-div-conteudo{
   width: 35%;
 }
 .escola-titulo{
   padding: 24px 0;
 }
 .phineas-titulo{
  width: 120px;
 }
